* {
  padding: 0;
  margin: 0;
}

.cabecalho {
  background-color: #ff8200;
  grid-area: cabecalho;
}

.menu {
  background-color: #7fc78e;
  grid-area: menu;
}

.secao-principal {
  background-color: #ffa9c0;
  grid-area: secao-principal;
}

.aside {
  background-color: #ffe200;
  grid-area: aside;
}

.rodape {
  background-color: #f48d76;
  grid-area: rodape;
}

.container {
  display: grid;
  grid: 
  "cabecalho cabecalho cabecalho" 50px
  "menu secao-principal aside" 200px
  "rodape rodape rodape" 50px
   / 100px auto 162px;
}